body {
  text-align: center;
  background-image: url('http://blog.tropo.com/files/2011/10/Tropo-Vert.png'), url('http://blog.tropo.com/files/2011/10/couch-300x300.png');
  background-position: 2% 2%, 98% 2%;
  background-size: 10%, 10%;
  background-repeat: no-repeat, no-repeat;;
}

#row {
  width: 65%;	
  margin-left: 5px;
}

#choice {
  text-align: center;
  padding: 5px;
  border-style: dashed;
  border-width: 1px;
  margin: 2px;
  margin-top: 0px;
  background-color: silver;
}

.score {
  font-weight: bold;
  color: maroon;
  font-size: 115%;
  margin-bottom: 2px;
  margin-top: 2px;
}

.name {
  font-weight: bold;
}

.selection {
  float: left;
  font-size: 125%;
  font-weight: bold;
  color: blue;
  margin-top: 3px;
  text-decoration: overline;
}

h4 {
  margin-top: 5px;
}

.footer {
font-size: 80%;	
}
